@import "tailwindcss";

@theme {
  /* Fonts */
  --font-default: "D-DIN Condensed", "sans-serif";
  --font-title: "Cascadia Code", "monospace";
  --font-operator: "Inter Tight", "Cascadia Code", "monospace";
  --font-inter: "Inter Tight", sans-serif;

  /* Colors */
  --color-primary: #202a33;
  --color-accent: #ed4944;
}