@import "tailwindcss";

@theme {
  /* Fonts */
  --font-default: "D-DIN Condensed", "sans-serif";
  --font-title: "Cascadia Code", "monospace";
  --font-operator: "Inter Tight", "Cascadia Code", "monospace";
  --font-inter: "Inter Tight", sans-serif;

  /* Colors */
  --color-primary: #202a33;
  --color-accent: #ed4944;
}

@font-face {
  font-family: "D-DIN Condensed";
  src: url("assets/d-dincondensed-webfont.woff2") format("woff2"),
    url("assets/d-dincondensed-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "D-DIN Condensed";
  src: url("assets/d-dincondensed-bold-webfont.woff2") format("woff2"),
    url("assets/d-dincondensed-bold-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
