$fa-font-path: "~@fortawesome/fontawesome-free/webfonts/";
@import '~@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@fortawesome/fontawesome-free/scss/regular.scss";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";

@import '~bulma/bulma.sass';


@font-face {
  font-family: 'Cascadia Code';
  src: url('cascadiamono-webfont.woff2') format('woff2'),
       url('cascadiamono-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'D-DIN Condensed';
  src: url('d-dincondensed-webfont.woff2') format('woff2'),
       url('d-dincondensed-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'D-DIN Condensed';
  src: url('d-dincondensed-bold-webfont.woff2') format('woff2'),
       url('d-dincondensed-bold-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

html {
  background-color: transparent;
  overflow-y: hidden;
}

// $time-font: 'Cascadia Code', 'D-DIN Condensed';
// $time-font-size: 7rem;
$time-font: 'D-DIN Condensed';
$time-font-size: 8rem;

// Main theme
$bg-color: #F2F1EF;
$primary-color: #ed4944;
$accent-color: #202A33;

// Vueling 1 theme
// $bg-color: #FFCC01;
// $primary-color: #4D4D4D;
// $accent-color: white;

// Vueling 2 theme
// $bg-color: #EEEEEE;
// $primary-color: #4D4D4D;
// $accent-color: #FFCC01;


body {
  font-family: $time-font;
  background-color: $bg-color;
  color: $primary-color;
}

.title {
  font-family: 'Cascadia Code', 'D-DIN Regular', 'Consolas', monospace;
  font-size: 2.75rem !important;
  color: $accent-color;
  text-align: center;
}

.title-results {
  font-size: 2.75rem !important;
}

.display-time {
  font-size: $time-font-size;
  font-weight: bold;
}

.display-time-sep {
  font-size: 6rem;
  font-weight: normal;
  padding-left: 2rem;
  padding-right: 2rem;
  line-height: 1.78;
  color: $accent-color;
}

.frozen {
  color: $accent-color;
}

.display-result {
  // font-size: 5rem;
  font-weight: bold;
  // color: $accent-color;
}